Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

In [ ]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы

In [ ]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [7]:
import numpy as np
import pandas as pd

In [20]:
# Импортируем данные для DataFrame 
data = pd.read_csv( 'baseball_games.csv')
# после проверки: data.info() заполняем пустые значения столбца attendance на медиану
medianAttend = data['attendance'].median()

In [24]:
# находим максимальное значение зрителей за весь сезон  
data[((data['season'] == 'regular season') )]['attendance'].max()

np.float64(53621.0)

In [182]:
# выводим всю искомую строку
data.query('attendance == 53621.0')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
534,534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,...,Cloudy,2,3.6,regular season,0,1,Loss,25.0,20,San Francisco GiantsLos Angeles Dodgers

In [27]:
# выводим требуемый результат
data.loc[[534], ['home_team','away_team','date', 'attendance']]

               home_team             away_team        date  attendance
534  Los Angeles Dodgers  San Francisco Giants  2016-09-20     53621.0

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [30]:
# находим минимальное значение температуры за весь сезон  
data[((data['season'] == 'regular season') )]['temperature'].min()

np.float64(31.0)

In [183]:
# выводим всю искомую строку
data.query('temperature == 31.0')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,Cloudy,12,3.333333,regular season,0,1,Loss,-0.555556,20,New York YankeesDetroit Tigers

In [33]:
# выводим требуемый результат
data.loc[[2409], ['home_team','away_team','date', 'temperature']]

           home_team         away_team        date  temperature
2409  Detroit Tigers  New York Yankees  2016-04-09         31.0

# 3. Какая игра была самая теплая за весь сезон?

In [36]:
# находим максимальное значение температуры за весь сезон  
data[((data['season'] == 'regular season') )]['temperature'].max()

np.float64(101.0)

In [180]:
# выводим всю искомую строку
data.query('temperature == 101.0')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,Sunny,4,3.0,regular season,0,1,Loss,38.333333,16,San Francisco GiantsArizona Diamondbacks

In [181]:
# выводим требуемый результат
data.loc[[2026], ['home_team','away_team','date', 'temperature']]

                 home_team             away_team        date  temperature
2026  Arizona Diamondbacks  San Francisco Giants  2016-05-13        101.0

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [44]:
# находим максимальную продолжительность матча за весь сезон  
data[((data['season'] == 'regular season') )]['game_hours_dec'].max()

np.float64(6.216666666666667)

In [184]:
# выводим всю искомую строку
data.query('game_hours_dec == 6.216666666666667')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
1445,1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,...,In Dome,3,6.216667,regular season,0,1,Loss,20.0,26,Cleveland IndiansToronto Blue Jays

In [49]:
# выводим требуемый результат
data.loc[[1445], ['home_team','away_team','date', 'game_hours_dec']]

              home_team          away_team        date  game_hours_dec
1445  Toronto Blue Jays  Cleveland Indians  2016-07-01        6.216667

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [50]:
# находим минимальрую продолжительность матча за весь сезон  
data[((data['season'] == 'regular season') )]['game_hours_dec'].min()

np.float64(1.25)

In [185]:
# выводим всю искомую строку
data.query('game_hours_dec == 1.25')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,Overcast,2,1.25,regular season,0,0,Loss,17.222222,6,Chicago CubsPittsburgh Pirates

In [52]:
# выводим требуемый результат
data.loc[[423], ['home_team','away_team','date', 'game_hours_dec']]

              home_team     away_team        date  game_hours_dec
423  Pittsburgh Pirates  Chicago Cubs  2016-09-29            1.25

# 6. Сколько матчей в сезоне закончилось ничьей?

In [57]:
# проверяем, какие были исходы матчей в сезоне
data[((data['season'] == 'regular season') )]['home_team_outcome'].value_counts()

home_team_outcome
Win     1287
Loss    1141
Name: count, dtype: int64

In [58]:
data[((data['season'] == 'regular season') )]['home_team_win'].value_counts()

home_team_win
1    1287
0    1141
Name: count, dtype: int64

In [59]:
data[((data['season'] == 'regular season') )]['home_team_loss'].value_counts()

home_team_loss
0    1288
1    1140
Name: count, dtype: int64

In [ ]:
# традиционно в бейсболе ничьи быть не может
# при этом есть разница в количестве выигранных и проигранных матчей домашней команды при подсчете выигрышей и проигрышей на 1 матч

# 7. Какая игра была последней в сезоне?

In [61]:
# находим дату последнего матча в сезоне  
data[((data['season'] == 'regular season') )]['date'].max()

'2016-10-02'

In [217]:
# выводим всю искомую строки 
res_7 = data.query('date == "2016-10-02"')
res_7

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
349,349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,...,Overcast,17,3.600000,regular season,1,0,Win,22.777778,24,Miami MarlinsWashington Nationals
385,385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,...,Sunny,10,4.000000,regular season,0,1,Loss,27.777778,24,Tampa Bay RaysTexas Rangers
386,386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,...,Unknown,14,3.200000,regular season,1,0,Win,21.666667,21,Pittsburgh PiratesSt. Louis Cardinals
387,387,41445.0,Los Angeles Dodgers,1,4,1,2016-10-02,on grass,Day Game,San Francisco Giants,...,Unknown,8,3.066667,regular season,1,0,Win,16.666667,20,Los Angeles DodgersSan Francisco Giants
388,388,24856.0,Oakland Athletics,0,7,3,2016-10-02,on grass,Day Game,Seattle Mariners,...,Unknown,5,2.566667,regular season,0,1,Loss,14.444444,13,Oakland AthleticsSeattle Mariners
389,389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,...,Cloudy,7,2.650000,regular season,1,0,Win,18.888889,18,New York MetsPhiladelphia Phillies
390,390,33277.0,Baltimore Orioles,0,7,5,2016-10-02,on grass,Day Game,New York Yankees,...,Unknown,7,2.533333,regular season,0,1,Loss,15.555556,17,Baltimore OriolesNew York Yankees
391,391,29475.0,Cleveland Indians,0,4,3,2016-10-02,on grass,Day Game,Kansas City Royals,...,Cloudy,5,2.433333,regular season,0,1,Loss,22.777778,10,Cleveland IndiansKansas City Royals
392,392,27762.0,Milwaukee Brewers,1,10,6,2016-10-02,on grass,Day Game,Colorado Rockies,...,Sunny,10,3.383333,regular season,0,1,Loss,25.000000,23,Milwaukee BrewersColorado Rockies
393,393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,...,Unknown,11,3.300000,regular season,0,1,Loss,21.666667,15,Chicago CubsCincinnati Reds
394,394,21904.0,Minnesota Twins,0,9,6,2016-10-02,on grass,Day Game,Chicago White Sox,...,Unknown,9,3.016667,regular season,0,1,Loss,18.333333,15,Minnesota TwinsChicago White Sox
395,395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,...,Unknown,3,3.233333,regular season,0,1,Loss,13.333333,13,Toronto Blue JaysBoston Red Sox
396,396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,...,Cloudy,1,2.783333,regular season,1,0,Win,26.666667,11,Detroit TigersAtlanta Braves
397,397,31385.0,San Diego Padres,0,7,2,2016-10-02,on grass,Day Game,Arizona Diamondbacks,...,In Dome,5,2.616667,regular season,1,0,Win,26.111111,16,San Diego PadresArizona Diamondbacks
398,398,28083.0,Houston Astros,0,7,1,2016-10-02,on grass,Day Game,Los Angeles Angels of Anaheim,...,Cloudy,9,2.700000,regular season,1,0,Win,23.888889,16,Houston AstrosLos Angeles Angels of Anaheim

In [218]:
# фильтруем все матчи в этот день по времени проведения в порядке убывания, выводим 2
res_7.sort_values( by = 'start_time', ascending = False ).head(2)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
395,395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,...,Unknown,3,3.233333,regular season,0,1,Loss,13.333333,13,Toronto Blue JaysBoston Red Sox
396,396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,...,Cloudy,1,2.783333,regular season,1,0,Win,26.666667,11,Detroit TigersAtlanta Braves

In [198]:
# выводим требуемый результат
data.loc[[395], ['date', 'away_team', 'home_team','date','start_time']]

,date,away_team,home_team,date,start_time
395,2016-10-02,Toronto Blue Jays,Boston Red Sox,2016-10-02,3:17 p.m. Local

# 8. У какой игры было минимальное количество зрителей?

In [87]:
# находим минимальое количество зрителей 
data['attendance'].min()

np.float64(8766.0)

In [187]:
# искомая строчка
data.query('attendance == 8766.0')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,Overcast,4,2.316667,regular season,1,0,Win,12.222222,10,Detroit TigersCleveland Indians

In [199]:
# выводим требуемый результат
data.loc[[2130], ['home_team','away_team','date', 'attendance']]

              home_team       away_team        date  attendance
2130  Cleveland Indians  Detroit Tigers  2016-05-04      8766.0

# 9. Какая игра в сезоне была самая ветренная?

In [93]:
# максимальная скорость ветра
data[((data['season'] == 'regular season') )]['wind_speed'].max()

np.float64(25.0)

In [200]:
# искомая строчка
data.query('wind_speed ==25.0')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
1655,1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,...,Cloudy,16,3.633333,regular season,1,0,Win,14.444444,25,Milwaukee BrewersSan Francisco Giants
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,Cloudy,19,3.666667,regular season,1,0,Win,14.444444,22,Houston AstrosBoston Red Sox

In [202]:
# выводим требуемый результат
data.loc[[1655, 2005], ['home_team','away_team','date', 'wind_speed']]

                 home_team          away_team        date  wind_speed
1655  San Francisco Giants  Milwaukee Brewers  2016-06-13        25.0
2005        Boston Red Sox     Houston Astros  2016-05-15        25.0

# 10. В какой игре получили максимальное количество очков?

In [113]:
# максимальное количество ранов гостевой команды 
data['away_team_runs'].max()

np.int64(21)

In [114]:
# максимальное количество ранов домашней команды 
data['home_team_runs'].max()

np.int64(17)

In [203]:
# искомая строчка
data.query('away_team_runs ==21')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
1441,1441,36552.0,Los Angeles Angels of Anaheim,1,22,21,2016-07-02,on grass,Night Game,Boston Red Sox,...,Cloudy,23,3.633333,regular season,0,1,Loss,26.666667,30,Los Angeles Angels of AnaheimBoston Red Sox

In [204]:
# результат
data.loc[[1441], ['home_team','away_team','date', 'away_team_runs']]

,home_team,away_team,date,away_team_runs
1441,Boston Red Sox,Los Angeles Angels of Anaheim,2016-07-02,21

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [117]:
# максимальное количество ошибок домашней команды
data['home_team_errors'].max()

np.int64(5)

In [205]:
data.query('home_team_errors ==5')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,Cloudy,9,2.933333,regular season,0,1,Loss,25.0,16,Arizona DiamondbacksMilwaukee Brewers

In [207]:
# результат
data.loc[[1178], ['home_team','away_team','date', 'home_team_errors']]

              home_team             away_team        date  home_team_errors
1178  Milwaukee Brewers  Arizona Diamondbacks  2016-07-27                 5

12. В какой игре было максимальное количество хитов?

In [163]:
# создаем колонку в которой содержится общее количество хитов - 'common_hits'
data['common_hits'] = data['away_team_hits']+ data['home_team_hits']
data.head(2)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win,23.333333,16
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win,12.777778,13

In [164]:
# находим макс количество хитов
data['common_hits'].max()

np.int64(37)

In [208]:
# искомая строчка
data.query('common_hits ==37')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C,common_hits,common_ream
1413,1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,...,Cloudy,17,3.666667,regular season,1,0,Win,28.888889,37,Texas RangersBoston Red Sox

In [209]:
# результат
data.loc[[1413], ['home_team','away_team','date', 'common_hits']]

           home_team      away_team        date  common_hits
1413  Boston Red Sox  Texas Rangers  2016-07-04           37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [179]:
res_13 = data.query('season == "regular season"')
data.groupby('home_team')['away_team'].count()

home_team
Arizona Diamondbacks             81
Atlanta Braves                   81
Baltimore Orioles                81
Boston Red Sox                   82
Chicago Cubs                     89
Chicago White Sox                81
Cincinnati Reds                  81
Cleveland Indians                89
Colorado Rockies                 81
Detroit Tigers                   80
Houston Astros                   81
Kansas City Royals               81
Los Angeles Angels of Anaheim    81
Los Angeles Dodgers              86
Miami Marlins                    80
Milwaukee Brewers                81
Minnesota Twins                  81
New York Mets                    82
New York Yankees                 81
Oakland Athletics                81
Philadelphia Phillies            81
Pittsburgh Pirates               81
San Diego Padres                 81
San Francisco Giants             83
Seattle Mariners                 81
St. Louis Cardinals              81
Tampa Bay Rays                   81
Texas Rangers                    83
Toronto Blue Jays                86
Washington Nationals             84
Name: away_team, dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [131]:
data[((data['season'] == 'regular season') & (data['home_team_outcome'] == 'Win'))]['home_team'].value_counts().head(2)

home_team
Chicago Cubs           57
Los Angeles Dodgers    53
Name: count, dtype: int64

In [130]:
data[((data['season'] == 'regular season') & (data['home_team_outcome'] == 'Win'))]['away_team'].value_counts().head(2)

away_team
Minnesota Twins     52
San Diego Padres    52
Name: count, dtype: int64

In [ ]:
# Ответ: Chicago Cubs           57

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [212]:
# выбираем данные по заданным условиям
data[((data['season'] == 'regular season') & (data['home_team_win'] == 1))]['home_team'].value_counts().head(3)

home_team
Chicago Cubs           57
Los Angeles Dodgers    53
Cleveland Indians      53
Name: count, dtype: int64

In [134]:
# ответ: Chicago Cubs

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [211]:
data[((data['season'] == 'regular season') & (data['home_team_outcome'] == 'Win'))]['away_team'].value_counts().head(3)

away_team
Minnesota Twins     52
San Diego Padres    52
Cincinnati Reds     51
Name: count, dtype: int64

In [ ]:
# искомые данные - 2 команды Minnesota Twins и San Diego Padres выиграли по 52 матча в гостях

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [213]:
# ищем данные для домашней команды
data[((data['season'] == 'regular season') & (data['home_team_outcome'] == 'Loss'))]['home_team'].value_counts().head(2)

home_team
Minnesota Twins    51
Atlanta Braves     50
Name: count, dtype: int64

In [216]:
# ищем данные для гостевой команды
data[((data['season'] == 'regular season') & (data['home_team_outcome'] == 'Loss'))]['away_team'].value_counts().head(2)

away_team
St. Louis Cardinals    48
Chicago Cubs           47
Name: count, dtype: int64

In [ ]:
Ответ: Minnesota Twins

18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [139]:
# Ответ: не зависит
correlation = data['attendance'].corr(data['home_team_win'])
correlation

np.float64(0.04563075365707334)

In [137]:
covariance = data['attendance'].cov(data['home_team_win'])
covariance

np.float64(224.9718733572045)

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [140]:
data['home_team_outcome'].value_counts()

home_team_outcome
Win     1304
Loss    1159
Name: count, dtype: int64

In [142]:
data['home_team_loss'].value_counts()

home_team_loss
0    1305
1    1158
Name: count, dtype: int64

In [160]:
# отбираем данные по запросу, который возвращает строки с проигрышными матчами в субботу и воскресенье 
result_19 = data.query('day_of_week == ("Saturday","Sunday") and home_team_loss == 0')

In [161]:
# находим их долю по отношению ко всем строкам
result_19.shape[0]/data.shape[0]

0.17174177831912302

In [ ]:
Ответ: не правда

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [150]:
# создаем колонку с рассчитанной температурой по Цельсию ('temp_C') и проверяем, что она создалась
data['temp_C'] = (data['temperature']-32)*5/9
data.head(5)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win,23.333333
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win,12.777778
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win,8.888889
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss,18.333333
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss,25.000000

In [151]:
# выводим колонки со значение температуры по Цельсию меньше нуля
data[(data['temp_C']<0)]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss,-0.555556

In [155]:
# такая колонка одна 
# Ответ: нет